In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
from IPython.display import display
%matplotlib inline

# 加载数据集
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file)

display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
outcomes = full_data['Survived']
data = full_data.drop('Survived',axis=1)
data.columns.values

array(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [41]:
def survival_stats(data, outcomes, key, filters = []):
    """
    Print out selected statistics regarding survival, given a feature of
    interest and any number of filters (including no filters)
    """
    
    # Check that the key exists
    if key not in data.columns.values :
        print "'{}' is not a feature of the Titanic data. Did you spell something wrong?".format(key)
        return False

    # Return the function before visualizing if 'Cabin' or 'Ticket'
    # is selected: too many unique categories to display
    if(key == 'Cabin' or key == 'PassengerId' or key == 'Ticket'):
        print "'{}' has too many unique categories to display! Try a different feature.".format(key)
        return False
    
    all_data = pd.concat([data,outcomes],axis=1)
    # Create outcomes DataFrame
    all_data = all_data[[key, 'Survived']]
    # Create plotting figure
    plt.figure(figsize=(8,6))
    
    if key == 'Sex':
        values = ['male','female']
    
    frame = pd.DataFrame(index = np.arange(len(values)), columns=(key,'Survived','NSurvived'))
    
    for i, value in enumerate(values):
        frame.loc[i] = [value, \
                   len(all_data[(all_data['Survived'] == 1) & (all_data[key] == value)]), \
                   len(all_data[(all_data['Survived'] == 0) & (all_data[key] == value)])]
        
    # Set the width of each bar
    bar_width = 0.4
    
    #Display each category's survival rates
    for i in np.arange(len(frame)):
        nonsurv_bar =

      Sex Survived NSurvived
0    male      109       468
1  female      233        81

In [33]:
full_data.groupby(['Sex','Survived']).size().unstack()

Survived    0    1
Sex
female     81  233
male      468  109